{% extends 'base.html' %}

{% block title %}Confirmar Solicitud{% endblock %}

{% block content %}
<div class="contenedor-confirmar">
    <h2>Confirmar Solicitud</h2>

    
    {% if alertas_stock_critico %}
        <div class="alert alert-danger text-center fw-bold fs-3 p-4">
            {% for alerta in alertas_stock_critico %}
                <p>{{ alerta }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <p><strong>Nombre:</strong> {{ solicitud.nombre_solicitante }}</p>
    <p><strong>RUT:</strong> {{ solicitud.rut_solicitante }}</p>

    <h3>Productos Solicitados</h3>
    {% if not solicitud.productos %}
        <p>No hay productos en la solicitud.</p>
    {% else %}
        <ul>
            {% for item in solicitud.productos %}
                <li>{{ item.producto_nombre }} - {{ item.cantidad }} unidades (Centro de Costo: {{ item.centro_costo }}| Motivo: {{ item.motivo }})</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST">
        <button type="submit">✅ Confirmar y Guardar</button>
    </form>

    <a href="{{ url_for('solicitudes') }}">🔙 Volver a Editar</a>
</div>

<style>
.contenedor-confirmar {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

.alert {
    background-color: #ff9898;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;

}
button {
    margin: 10px 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}
a {
    text-decoration: none;
    color: white;
    background-color: #ffc2be;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
</style>
{% endblock %}
